.top_section{
    position: relative; 
    height: 90%;
    left: 0%;
}

.bottom_section{
    position: relative;
    top:14%;
}

.text-width{
 width: 100%;
}
 
.left_scroll{
position: sticky;
top: 0px;
z-index: 3;
}

.ds{
 position: relative;
 z-index: 1;
}